<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675984088762-dsq8gcub7j9bvutu9jc426b80bgsh5ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675984088762-dsq8gcub7j9bvutu9jc426b80bgsh5ij</string>
	<key>API_KEY</key>
	<string>AIzaSyBrL0yCrnVE3eEsQR7S3-Jed7oGHSmaQpw</string>
	<key>GCM_SENDER_ID</key>
	<string>675984088762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mined.app</string>
	<key>PROJECT_ID</key>
	<string>mined</string>
	<key>STORAGE_BUCKET</key>
	<string>mined.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675984088762:ios:3ae6cdd7da4effcae56c83</string>
</dict>
</plist>